*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
right: 0;
left: 0;
}
/* header section */
#header{
  top: 0;
  left: 0;
  position: fixed;
 text-decoration: none;
  width: 100%;
  z-index: 3;

}
.csi{
  color: white;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
text-transform: uppercase;

text-shadow:black;
  }
.header-container{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 70px;
}

.options{

  display: flex;
  flex-direction: row;
  list-style: none;

 padding-right: 5%;
}
.box{

  padding-top: 2%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 30%;
  width: 80px;
  text-align: center;
  align-items: center;
  height: 35px;
  background-color: black;
  justify-content: space-between;
  border-radius: 10px;
}
.opt{
    position: absolute;
  font-size: 1.0rem;
  list-style: none;
 text-decoration: none;
  text-align: center;
  align-items:center;
  color: white;
  justify-content: space-between;
  text-transform: uppercase;
}


/* vacanza cover */

#title{
  padding-top: 900px;


 width: 100vw;
 margin-bottom: -480px;

   background-image:url("images/background.png");


   background-size:cover;

   background-repeat: no-repeat;
   background-position:cover;
   position: relative;

   text-align: center;
   object-fit: cover;
   object-position: center;

}
#title::after{
  content: '';
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  margin-top: -5px;
  padding-top: 30px;
  z-index: 1;
  opacity: 0.5;
}
.container{

  text-align: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  font-family: sans-serif;
  display: flex;
}
.text{
  margin-top: -550px;
  z-index: 2;

}
.logo{
position: relative;
z-index: 2;
  align-items: center;
  width: 15%;
  margin-top: -250px;
  opacity: 0.9;
  padding-bottom: 80px;

}

.vacanza{
  z-index: 2;
position: relative;
  width: 100%;
  margin-right: 4%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:15vh;
  margin-top: -60px;

}
.vbtn{
  z-index: 2;
  position: relative;
  padding:12px 25px;
  text-align: center;
  background-color: transparent;
  margin: 20px 10px;
  color: white;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.vbtn:hover{
  background-color: white;
  color: black;
transition: 0.5s ease;
}

/* round 1section */
.middle-container{
  z-index: 2;
  background-color: white;
 padding-bottom: 0;
  position: absolute;
 width: 100%;
 top: 650px;
 padding-top: 152px;
 float: left;
 text-align: left;
}
.matter{
 background-color: #f4f4f4;
 height: 300px;
padding: 1% 3% 24% 3%;

margin-top: -80px;
}
.mai{

  padding: 2% 0 2% 0;
  background-color: white;
  box-shadow: 5px 10px darkgray;
  word-wrap: break-word;
}
.round-1{
  width: 30%;
  height: 329px;
 float: right;
  margin-left: 30px;
 margin-top: -28px;
  clip-path:polygon(45% 0, 100% 0%, 100% 100%,0% 100%);
}
.round{
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 0 1px 0;
  padding-left: 2%;
}
.des{
  font-family: serif;
  padding-top: 1%;
  line-height: 1.4;
  font-size: 1.2rem;
  word-spacing: 0.3rem;
padding-left: 2%;
}
.line{

border: 1px solid gray;
margin-left: 2%;
}
.domains{
  font-weight:400;
  padding-bottom: 5px;
  font-family: sans-serif;
  padding-left: 2%;
}
.types{
  font-size: 1.4rem;
  font-family: serif;
  word-spacing: 0.3rem;
  padding-bottom: 18px;
  font-weight: 100;
  padding-left: 2%;
}
.rules{  background-color: transparent;
  border: 1px solid green;
  color: darkgreen;
 padding: 15px 23px 15px 23px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
   margin-left: 2%;
}
.rules:hover{
  background-color: darkgreen;
  color: white;
}
/* round2 section */
.matter1{
  float: right;
  text-align: left;
  background-color: #f4f4f4;
  height: 300px;
 padding: 3% 2% 24% 78%;
 width: 175%;


}
.mai1{
 word-wrap: break-word;
    width: 100%;
    padding: 2% 20% 2% 0;
    background-color: white;
    box-shadow: 5px 10px darkgray;
  }

.round-2{
  float: left;
  width: 30%;
  height: 329px;
  margin-right: 30px;
   margin-top: -28px;
   clip-path: polygon(0 0, 51% 0, 100% 100%, 0 100%);
}
.rules1{
  background-color: transparent;
    border: 1px solid green;
    color: darkgreen;
   padding: 15px 23px 15px 23px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;

}
.rules1:hover{
  background-color: darkgreen;
  color: white;
}
/* round3 section */
.matter2{
  background-color: #f4f4f4;
  height: 300px;
 padding: 3% 2% 35% 3%;
 width: 100%;
text-align: left;
float: left;
}
.mai2{
 word-wrap: break-word;
    width: 100%;
    padding: 2% 0% 8% 0;
    background-color: white;
    box-shadow: 5px 10px darkgray;
  }
  .round-3{
    width: 32%;
    height: 345px;
   float: right;

   margin-top: -25px;
    clip-path:polygon(45% 0, 100% 0%, 100% 100%,0% 100%)
  }
  .rules2{
    margin-top: 8px;
    background-color: transparent;
      border: 1px solid green;
      color: darkgreen;
     padding: 15px 23px 15px 23px;
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
       margin-left: 2%;
  }
  .rules2:hover{
    background-color: darkgreen;
    color: white;
  }

  /* footer */
  #footer{
    text-align: center;
    justify-content: center;
  height: 25%;
  width: 100%;
  }

  .foot{
      background-image: url("images/footer.png");
    position: relative;
    height: 27vh;
    margin-top: 1650px;
    z-index: 2;
    overflow: hidden;
    top: 52px;

}
.copy{
  text-align: center;
  justify-content: center;
  background-color: #4f8a8b;
}
.ico {
  position:relative;
  justify-content: center;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  width: 100%;
  height: 100px;
  line-height: 100px;

  margin-top: -90px;
  z-index: 3;

bottom: 60px;
}
.ico a{
  justify-content: space-between;
  color: white;
  padding-left: 1%;
  text-decoration: underline;

}
.ico a:hover{

  color: purple;
   transition: 0.4s;

}
