*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{

}

#title{
  padding-top: 900px;


 width: 100%;
 margin-bottom: -480px;

   background-image:url("images/background.png");


   background-size:cover;

   background-repeat: no-repeat;
   background-position:cover;
   position: relative;
   z-index: -1;
   text-align: center;
   object-fit: cover;
   object-position: center;

}
#title::after{
  content: '';
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin-top: -5px;
  padding-top: 30px;
  z-index: -1;
  opacity: 0.5;
}
.container{

  text-align: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  font-family: sans-serif;
  display: flex;
}
.text{
  margin-top: -550px;
}
.logo{
  align-items: center;
  width: 15%;
  margin-top: -250px;
  opacity: 0.9;
  padding-bottom: 80px;

}

.mainheading{
  font-family: 'Roboto',serif;
  font-size: 6rem;
color: white;
font-style: normal;
font-weight: bolder;
margin-top: -50px;
padding-bottom: 20px;
letter-spacing: 0.15em;
padding-bottom: 20px;
text-shadow: 2px 2px 5px darkgreen;

}
.vbtn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 50px;
  border-radius: 25px;
  z-index: -1;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto',serif;
  font-size: 0.9rem;
    margin: 0 1% 0 1%;
}
.r{
  z-index: 1;
  background-color: white;
  position: absolute;
 width: 100%;
 top: 650px;
 padding-top: 150px;
 float: left;
 text-align: left;
}
.matter{
  text-align: left;
  float: left;
  justify-content: flex-start;
}
.round-1{
  width: 20%;
  height: 170px;
  float:right;
  margin-left: 30px;
  margin-top: -160px;
  clip-path:polygon(50% 0, 100% 0%, 100% 100%,0% 100%)
}
.des{
  text-align: left;
  float: left;
}
